<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF8" />
        <meta name="description" content="footprintMap is a visualisation of the CO₂ emissions of the global economy" />
        <meta property="og:description" content="footprintMap is a visualisation of the CO₂ emissions of the global economy" />
        <meta property="og:image" content="https://www.electricitymap.org/images/electricitymap_social_image.jpg" />
        <meta property="og:title" content="<%= __('misc.maintitle') %>" />
        <meta property="og:type" content="website" />
        <!-- It's import to keep the old og:url, else, likes will not accumulate properly -->
        <meta property="og:url" content="https://footprintmap.org" />
        <meta property="og:locale" content="<%= FBLocale %>" />
        <% for(var i=0; i<supportedFBLocales.length; i++) {%>
        <meta property="og:locale:alternate" content="<%= supportedFBLocales[i] %>" />
        <% } %>
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:creator" content="@corradio">
        <meta name="twitter:description" content="footprintMap is a visualisation of the CO₂ emissions of the global economy" />
        <meta name="twitter:image" content="https://www.electricitymap.org/images/electricitymap_social_image.jpg">
        <meta name="twitter:site" content="@tmrowco">
        <meta name="twitter:title" content="footprintMap | A visualisation of the CO₂ emissions of the global economy" />
        <meta name="viewport" content="width=device-width, viewport-fit=cover" />

        <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' data: gap: https://ssl.gstatic.com 'unsafe-eval' blob:; style-src * 'unsafe-inline'; media-src *;" />

        <title>footprintMap | <%= __('misc.maintitle') %></title>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="<%= resolvePath('dist/styles.' + stylesHash + '.css') %>">
        <link rel="stylesheet" type="text/css" href="<%= resolvePath('dist/vendor.' + vendorStylesHash + '.css') %>">

        <!-- Fonts -->
        <link href="<%= resolvePath('css/OpenSansFont.css') %>" rel="stylesheet">
        <link href="<%= resolvePath('css/MaterialIcons.css') %>" rel="stylesheet">

        <!-- Language -->
        <% for(var i=0; i<alternateUrls.length; i++) {%>
        <link rel="alternate" href="<%- alternateUrls[i] %>" hreflang="<%= supportedLocales[i] %>" />
        <% } %>
        <% if (typeof fullUrl != 'undefined') { %>
        <link rel="alternate" href="<%- fullUrl.replace(/[?|&]lang=[^&]*/, '') %>" hreflang="x-default" />
        <link rel="canonical" href="<%- fullUrl %>" />
        <% } %>

        <!-- Set Global Variables -->
        <script>
            var bundleHash = '<%= bundleHash %>';
            var locale = '<%= locale %>';
            var FBLocale = '<%= FBLocale %>';
            var resolvePath = <%- resolvePath %>;
            var locales = <%- JSON.stringify(locales) %>;
            var isCordova = <%= (typeof isCordova !== 'undefined' && isCordova) %>;
        </script>

        <% if (typeof isCordova != 'undefined' && isCordova) { %>
        <script src="../cordova.js"></script>
        <% } %>
        <script defer src="<%= resolvePath('dist/vendor.' + vendorHash + '.js') %>"></script>
        <script defer src="<%= resolvePath('dist/bundle.' + bundleHash + '.js') %>"></script>

        <!-- Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-79729918-13"></script>
    </head>
    <body lang="<%= locale %>" id="app"></body>

</html>
